@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

/* Universal Styles */

html, body {
    font-size: 18px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    display: block;
    position: absolute;
    width: 100%;
    top: 100vh;
    background-color: #9FA685;
    background: repeating-linear-gradient(to bottom, #026873 0 100px, #024950 100px 200px);
}

article {
    display: block;
    position: relative;
    width: 94%;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 3% auto;
}

article h1 {
    position: relative;
    font-size: 2.8rem;
    font-weight: 900;
    font-family: 'Lato', Helvetica, sans-serif;
}   

article h1 .first-word {
    color: #F2490C;
    text-shadow: -1px -1px #A62103;
    opacity: 0.7;
}

article h1 .second-word {
    color: #A62103;
    text-shadow: -1px -1px #F2490C;
    opacity: 0.7;

}

/* Banner Styles */

.banner {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('../img/nuno-silva-Rcsa_Rg77Tc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.text-holder {
    display: block;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.text-holder h1, .text-holder h3 {
    color: #9FA685;
    font-family: 'Libre Franklin', Helvetica, sans-serif;
}

.text-holder h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 5% 0 1% 0;
}

.text-holder .first-word {
    color: #F2490C;
    opacity: 0.6;
}

.text-holder .second-word {
    color: #A62103;
    opacity: 0.6;
}

.text-holder h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0 0 5% 0;
}


/* Mission Styles */

.our-mission {
    text-align: center;
}

.our-mission h1 {
    padding: 2% 0 1% 0;
    margin: 0;
}

.our-mission .main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main-container .missions-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    text-align: justify;
    order: 1;
    margin: 1% 2%;
    flex: 1 5 50%;
}

.missions-container .mission {
    margin: 0 3%;
}

.missions-container .mission p {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #9FA685;
    font-size: 1.1rem;
    line-height: 1.6;
    word-spacing: 7px;
    font-weight: 400;
}

.missions-container .mission p::first-letter {
    font-size: 1.3rem;
}

.main-container img {
    position: relative;
    order: 2;
    flex: 5 1 20%;
    object-fit: contain;
    max-width: 500px;
    min-width: 300px;
    overflow: hidden;
    margin: 1% 2%;
    opacity: 0.9;
}

/* Work Styles */

.our-work {
    text-align: center;
    padding-bottom: 1%;
}

.our-work h1 {
    padding: 2% 0 1% 0;
    margin: 0;
}

.our-work .work-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 2%;
}

.work-container .work {
    position: relative;
    height: auto;
    min-height: 150px;
    flex: 1 1 40%;
    background-position: center;
    background-size: cover;
    margin: 0.5%;
    overflow: hidden;
}

.work-container .work:hover {
    transform: scale(1.2);
}

.work p {
    position: absolute;
    display: block;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    top: 1%;
    left: 2%;
    transform: translate(2%, -50%);
    color: #A62103;
    text-shadow: -2px -1px 1px #F2490C;
    opacity: 0.9;
}

#facade {
    background-image: url('../img/facade.jpg');
}

#house {
    background-image: url('../img/house-cleaning.jpg');
    background-position: 50% 30%;
}

#window {
    background-image: url('../img/window-clean.jpg');
    background-position: 50% 100%;
}

#industrial {
    background-image: url('../img/industrial.jpg');
    background-position: 50% 120%;
}

#many-more {
    background-image: url('../img/many-more.jpg');
}

/* Team Styles */

.our-team {
    text-align: center;
}

.our-work h1 {
    padding: 2% 0 1% 0;
    margin: 0;
}

/* Footer Styles */

footer {
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    background-color: #024950;
    z-index: 1;
}